<div class="clock-base">
  <div class="first-dsc">
    <div class="main-marker twelve">12</div>
    <div class="marker eleven">11</div>
    <div class="marker ten">10</div>
    <div class="main-marker nine">9</div>
    <div class="marker eight">8</div>
    <div class="marker seven">7</div>
  </div>
  <div class="second-asc">
    <div class="marker one">1</div>
    <div class="marker two">2</div>
    <div class="main-marker three">3</div>
    <div class="marker four">4</div>
    <div class="marker five">5</div>
    <div class="main-marker six">6</div>
  </div>
  <div class="hours-container hours-rotating">
    <div>
      <div class="hours-hand"></div>
      <div class="hours-hand hidden"></div>
    </div>
  </div>
  <div class="minutes-container minutes-rotating">
    <div>
      <div class="minutes-hand"></div>
      <div class="minutes-hand hidden"></div>
    </div>
  </div>
  <div class="seconds-container seconds-rotating">
    <div>
      <div class="seconds-hand"></div>
      <div class="seconds-hand hidden"></div>
    </div>
  </div>
</div>
